.footer_wrapper {
  background-color: #0a0204;
}

.footer_wrapper > .footer_inner_wrapper {
  margin: auto;
}

.footer {
  width: 100%;
}
.col_wrapper {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 200px;
  padding: 50px;
  max-width: 1140px;
}

.col_1_inner {
  color: white;
  font-weight: 120%;
}

.col_2_inner {
  color: white;
  font-weight: 120%;
}

.col_3_inner {
  color: white;
  font-weight: 120%;
}

.gap_1 {
  height: 10px;
}

.text_1_wrapper {
  font-size: 20px;
}

/* mobile menu */
@media only screen and (max-width: 600px) {
  .col_wrapper {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 1fr;
  }
}
