/* Basic styling */
.nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0a0204;
  padding: 0 150px;
  font-family: "mazdatypeviet-bold", Helvetica, Arial, sans-serif;
  z-index: 30;
  position: relative;
  background-color: #070707;
  background-size: cover;
}
.link {
  color: white;
  text-decoration: none;
  font-weight: 530;
}
.menu,
.sub_menu {
  list-style-type: none;
}
.item {
  padding: 10px;
}
.item:not(.button) .link:hover,
.item .link:hover::after {
  color: #777;
}
.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.menu li .link {
  display: block;
  padding: 15px 5px;
}
.menu .subitem .link {
  padding: 15px;
}

.hamburger_icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

.hamburger_icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}
.has_sub_menu {
  position: relative;
}

.has_sub_menu:hover .sub_menu_wrapper > .sub_menu {
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  z-index: 10000;
  top: 60px;
  left: 20px;
  padding: 10px 30px;
  background-color: #ffffff;
  box-shadow: 1px 1px 1px 1px #777;
}
.sub_menu > .sub_item > .link {
  padding: 0;
  width: 200px;
  line-height: 40px;
  text-align: left;
  color: #828282;
  font-weight: 400;
}
.sub_menu {
  display: none;
}

/* Desktop menu */
@media only screen and (max-width: 600px) {
  .header {
    position: relative;
  }
  .nav_bar {
    padding: 0 20px;
  }
  .menu {
    display: none;
  }
  .open_menu {
    background-color: #1d1f1d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    top: 85px;
    left: 0;
    width: 100%;
    transition: flex-basis 500ms ease-in-out;
  }
  .hamburger_icon {
    display: block;
  }

  .open_bar1 {
    transform: rotate(-45deg) translate(-6px, 6px);
  }

  .open_bar2 {
    opacity: 0;
  }

  .open_bar3 {
    transform: rotate(45deg) translate(-6px, -8px);
  }
}
