.nav_bar {
  background: #222;
  padding: 0 15px;
  font-family: "mazdatypeviet-bold", Helvetica, Arial, sans-serif;
  z-index: 30;
  position: relative;
  background-color: #070707;
  background-size: cover;
  background-position: 50% 0;
  transition-duration: 0.3s, 0.3s;
  transition-timing-function: ease, ease;
  transition-delay: 0s, 0s;
}
.link {
  color: white;
  text-decoration: none;
  font-weight: 700;
}
.menu,
.sub_menu {
  list-style-type: none;
}
.logo {
  font-size: 20px;
  padding: 7.5px 10px 7.5px 0;
}
.item {
  padding: 10px;
}
.item:not(.button) .link:hover,
.item .link:hover::after {
  color: #777;
}

/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.menu li .link {
  display: block;
  padding: 15px 5px;
}
.menu .subitem .link {
  padding: 15px;
}
.toggle {
  order: 1;
  font-size: 20px;
}
.item {
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
}
.active .item {
  display: block;
}

/* Submenu up from mobile screens */
.sub_menu {
  display: none;
}
.sub_menu-active .sub_menu {
  display: block;
}
.has_sub_menu i {
  font-size: 12px;
}
.has_submenu > .link::after {
  font-family: "Font Awesome 5 Free";
  font-size: 12px;
  line-height: 16px;
  font-weight: 900;
  content: "\f078";
  color: white;
  padding-left: 5px;
}
.sub_item .link {
  padding: 10px 15px;
}
.sub_menu_active {
  background-color: #111;
  border-radius: 3px;
}

/* Desktop menu */
@media all and (min-width: 960px) {
  .menu {
    align-items: center;
    flex-wrap: nowrap;
    background: none;
    padding: 0 200px;
  }
  .item_wrapper {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    background: none;
  }
  .logo {
    order: 0;
  }
  .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
  }

  .sub_menu_active .sub_menu {
    display: block;
    position: absolute;
    left: 0;
    top: 68px;
    background: #111;
  }
  .toggle {
    display: none;
  }
  .sub_menu_active {
    border-radius: 0;
  }
}
