@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  background-color: #e7e7e7;
}

* {
  box-sizing: border-box;
}
